.menu-button {
    background: teal;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 32px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    /* Add some spacing for better visual appearance */
    top: 20px;
    right: 20px;
  }
  
  .menu-button:hover {
    color:white;
  }
  
  .profile-dropdown {
    position: fixed;
    right: 0;
    top: 60px;
    /* Adjust this value to move the dropdown lower */
    background-color:teal;
    /* border: 1px solid whitesmoke; */
    padding: 10px;
    list-style-type: none;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .profile-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: block;
    /* Ensure list items are displayed as block elements */
  }
  
  .profile-dropdown li:hover {
    background-color: teal;
    color: pink;
  }
  
  .profile-dropdown.hidden {
    display: none;
  }
  
  .profile-dropdown a {
    color: white;
    /* Ensure all links are white */
    text-decoration: none;
    /* Remove underline */
  }
  
  .profile-dropdown a:hover {
    color: red;
    /* Optional: lighter color on hover */
  }
  
  .profile-dropdown a[href="/spots/current"] {
    color: white;
    /* Ensure the 'Manage Spots' link is white */
  }
  
  .profile-dropdown a[href="/spots/current"]:hover {
    color: pink;
    /* Optional: lighter color on hover */
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  